@import url(./reset.css);
@import url(./fonts.css);

* {
	padding: 0;
	margin: 0;
	font-size: 1em;
}

body {
	height: 2000px;
	font-family: MyriadProRegular;
	line-height: 14px;
}

.wrapper {
	min-width: 1000px;
	min-height: 800px;
	margin: 10px auto 0;
}

.page {
	margin: 0 auto;
	padding: 39px 33px 51px;
	border: 2px solid #000;
	width: 452px;
	background-color: #ebebeb;
}

.main-section-header {
	font-size: 1.48em;
	margin-bottom: 15px;
	display: inline-block;
	position: relative;
}

.bookmark {
	width: 111px;
	height: 35px;
	border: 2px solid #000;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

.main-bookmark {
	background-color: #f68e56;
	position: absolute;
	right: 160px;
	top: 40px;
}

.main-section {
	clear: both;
}

.main-section p {
	font-size: 0.75em;
}

.main-section-cup {
	display: inline-block;
	float: left;
}

.main-section-p1 {
	display: inline-block;
	width: 223px;
	padding-left: 20px;
}

.main-section-p2 {
	clear: both;
	padding: 0 0 10px;
}

.main-section-p3 {
	width: 307px;
}

.main-section-sheets {
	float: right;
}

.sub-section-header {
	height: 21px;
	clear: both;
	padding: 10px 0;
	font-size: 1.1em;
}

.section-jokes {
	font-size: 0;
}

.jokes {
	display: inline-block;
	height: 95px;
	overflow-y: hidden;
	margin: 0 0 15px 0;
}

.jokes:nth-child(2n+1) {
	float: right;
}

footer {
	font-size: 0.55em;
	text-align: center;
	height: 20px;
}

.wrapper {
	max-width: 1000px;
	max-height: 800px;
	position: relative;
	margin: 10px auto 0;
}

.layer-2 {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	border: 2px solid #000;
	width: 522px;
	height: 741px;
	background-color: #ccc;
	z-index: -1;
	position: absolute;
	top: 20px;
	left: 259px;
	margin: 0;
}

.layer-3 {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	border: 2px solid #000;
	width: 522px;
	height: 741px;
	background-color: #acacac;
	z-index: -2;
	position: absolute;
	top: 40px;
	left: 279px;
	margin: 0;
}

.layer-2-bookmark {
	background-color: #39b54a;
	position: absolute;
	right: -52px;
	top: 35px;
}

.layer-3-bookmark {
	background-color: #00aeef;
	position: absolute;
	right: -22px;
	top: 36px;
}

.sticker {
	width: 90px;
	height: 70px;
	border: 1px solid #000;
	text-align: center;
	background-color: #fbaf5d;
	position: fixed;
	right: 0;
	bottom: 50px;
}

.sticker span {
	display: inline-block;
	padding: 7px;
}
